* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
}

/* Left container */
.left-container {
    background-color: black;
    min-width: 300px;
    height: calc(100% - 120px);
    position: fixed;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.sidebar .logo {
    width: 160px;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 0 10px 20px;
    color: #b3b3b3;
    font-size: 16px;
    cursor: pointer;
}

.sidebar li img {
    width: 24px;
    height: 24px;
}

.sidebar li span {
    font-weight: bold;
}

.sidebar li.active span {
    color: white;
}

.sidebar li.active {
    border-left: 1px solid #1ed760;
    background-color: transparent;
    color: white;
}

.playlist-section {
    margin-top: 30px;
    width: 100%;
    padding-left: 20px;
    color: #b3b3b3;
}

.playlist-section h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: white;
    font-weight: 700;
}

.create-playlist {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.fa-plus {
    font-size: 32px;
}

.icon-square {
    width: 48px;
    height: 48px;
    background-color: #b3b3b3;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.playlist-section span {
    font-weight: bold;
    color: #b3b3b3;
    font-size: 20px;
}


.create-playlist img {
    width: 32px;
    height: 32px;
    background-color: #b3b3b3;
    padding: 4px;
}

.create-playlist span {
    font-weight: bold;
}

.playlist-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.playlist-list li {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #b3b3b3;
    padding-left: 0;
    margin-left: 0;
}


.playlist-list li:hover {
    color: white;
}


.left-container-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #b3b3b3;
    padding-left: 20px;
    gap: 12px;
}

.left-container-footer .install-app,
.left-container-footer .profile {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
}

.left-container-footer .profile-icon {
    background-color: #b3b3b3;
    /* colore di sfondo desiderato */
    padding: 4px;
    border-radius: 50%;
    /* opzionale, se vuoi cerchio */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.left-container-footer .profile-icon img {
    width: 24px;
    height: 24px;
}

.left-container-footer img {
    width: 32px;
    height: 32px;
}

.left-container-footer hr {
    width: 85%;
    border: none;
    border-top: 1px solid #666;
    margin: 8px 0;
}


/* Top bar */
.top-bar {
    background-color: rgba(8, 11, 18, 0.8);
    width: calc(100% - 300px);
    height: 120px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}




/* Main content */
.main-container {
    background-color: #141922;
    display: block;
    position: fixed;
    width: calc(100% - 300px);
    height: calc(100% - 120px);
    right: 0;
    top: 0px;
    overflow-y: auto;
    padding-top: 210px;
}

.main-container-tipi {
    position: absolute;
    top: 120px;
    bottom: 120px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-tipi ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 44px;
}

.main-container-tipi a {
    text-decoration: none;
    color: #797C80;
    font-weight: bold;
}

.main-container-tipi a:hover {
    color: #ffffff;
}

.main-container h1 {
    color: white;
    font-size: 32px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.riprodotte {
    display: flex;
    justify-content: space-between;
    background-color: #141922;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.riprodotte figure {
    width: calc(100% / 6 - 20px);
    color: white;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
}

.riprodotte img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.riprodotte figcaption {
    margin-top: 10px;
    font-size: 20px;
}

.riprodotte figcaption span {
    color: #b3b3b3;
    font-size: 13px;
}


















/* Bottom */
.player-container {
    background-color: #282828;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}




.player-container-left {
    width: 20%;
    display: flex;
    align-items: center;
}

.player-container-left img {
    display: flex;
    width: 64px;
    margin-left: 30px;
}

.player-container-left ul {
    list-style-type: none;
    margin-left: 16px;
}

.player-container-left strong {
    color: white;
    font-size: 16px;
}

.player-container-left li {
    color: #b3b3b3;
    font-size: 13px;
}

.player-container-left-icon {
    color: #b3b3b3;
    margin-left: 64px;
}

.fa-heart {
    margin-right: 16px;
    font-size: 20px;
}

.fa-folder {
    font-size: 20px;
}




.player-container-center {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.player-container-center-control {
    color: #FFFFFF;
    font-size: 36px;
    padding-bottom: 16px;
}

.player-container-center-bar-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

.player-container-center-bar-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container-center-bar-container-bar {
    width: 90%;
    height: 4px;
    background-color: #5A5A5A;
    border-radius: 3px;
}

.player-container-center-bar-container-bar-fill {
    width: 20%;
    height: 100%;
    background-color: #C1C1C1;
}


.fa-shuffle {
    padding-left: 16px;
    font-size: 25px;
}

.fa-backward-step {
    padding-left: 32px;
    font-size: 25px;
}

.fa-circle-play {
    padding-left: 32px;
}

.fa-forward-step {
    padding-left: 32px;
    font-size: 25px;
}

.fa-rotate-right {
    padding-left: 32px;
    font-size: 25px;
}




























.player-container-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
}

.player-container-right-progress-bar {
    width: 40%;
    height: 4px;
    background-color: #5A5A5A;
    border-radius: 3px;
    overflow: hidden;
}

.player-container-right-progress-bar-fill {
    width: 30%;
    height: 100%;
    background-color: #C1C1C1;
}

.player-container-right-icon {
    color: #E5E5E5;
    padding-right: 16px;
}

.fa-list {
    padding-right: 8px;
}

.fa-desktop {
    padding-right: 8px;
}

.fa-volume-high {
    padding-right: 8px;
}


































/* Responsive Tablet */
@media screen and (max-width:768px) {}

/* Responsive Smartphone */
@media screen and (max-width:480px) {}